[Unit]
Description=X11 Dummy Display Server for Headless Operation
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/Xorg :99 -config /etc/X11/xorg-dummy.conf -logfile /var/log/Xorg-dummy.log
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
